@use "../../styles/constants/constants.scss";

.reset {
  padding: 4px 8px;
  margin: 26px 8px;
  font-size: 16px;
}

.wrapper {
  position: relative;
  margin: 8px;
}

.blok {
  position: absolute;
  border: 1px solid constants.$main-txt-color;
  background-color: constants.$main-bg-color;
  border-radius: 4px;
  cursor: pointer;
  
  &:active {
    background: #99d9f5;
    z-index: 100;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  p {
    margin: 0;
  }

  button {
    opacity: 0.8;
  }
}
